extends layouts/default.pug

block title 
    title Thêm máy in

block main

    //- Breadcrumb
    .breadcrumb
        .container
            nav.breadcrumb__wrap
                ul
                    li 
                        a(href="index.html") Trang chủ
                    li 
                        a(href="printer.html") Máy in
                    li 
                        a(href="add-printer.html" class="last") Thêm máy in
    //- End Breadcrumb

    section.section-4
        .container
            form(action="#" id="form-create" method="POST" target="_blank")
                .section-4__wrap 
                    .section-4__left
                        .section-4__left--image 
                            img(src = "../assets/images/printer-default.jpg" alt = "printer default logo") 
                        .section-4__left--button 
                            button(class = "button") 
                                i(class = "fa-solid fa-arrow-up-from-bracket")
                                | Chọn ảnh cho máy in
                    .section-4__right
                        .section-4__form
                            .section-4__form__content Điền thông số máy in
                            .section-4__form__table
                                .section-4__form__table--list
                                        .section-4__form__table--element1
                                            .element--title Điền mã máy in
                                            .form
                                                input(type="text" id="codeOfPrinter" name="code" placeholder="#")

                                        .section-4__form__table--element1
                                            .element--title Điền nơi đặt máy in
                                            .form
                                                input(type="text" id="codeOfPrinter" name="code" placeholder="")

                                        .section-4__form__table--element2
                                            .element--title Chọn chức năng máy in
                                            .form
                                                .element--detail
                                                    input(type="checkbox" id="printLaser" name="function")
                                                    label(for="printLaser") In Laser
                                                .element--detail
                                                    input(type="checkbox" id="colorInkjet" name="function")
                                                    label(for="colorInkjet") In phun màu

                                        .section-4__form__table--element3
                                            .element--title Chọn khả năng máy in
                                            .form
                                                .element--detail
                                                    input(type="checkbox" id="singleSideBW" name="ability")
                                                    label(for="singleSideBW") In 1 mặt, trắng đen
                                                .element--detail
                                                    input(type="checkbox" id="doubleSideBW" name="ability")
                                                    label(for="doubleSideBW") In 2 mặt tự động, trắng đen
                                                .element--detail
                                                    input(type="checkbox" id="singleSideC" name="ability")
                                                    label(for="singleSideC") In 1 mặt, in màu
                                                .element--detail
                                                    input(type="checkbox" id="Copy" name="ability")
                                                    label(for="Copy") Copy
                                                .element--detail
                                                    input(type="checkbox" id="scanBW" name="ability")
                                                    label(for="scanBW") Scan(Trắng đen)
                                                .element--detail
                                                    input(type="checkbox" id="scanC" name="ability")
                                                    label(for="scanC") Scan(Màu)

                                        .section-4__form__table--element4
                                            .element--title Điền tốc độ máy in
                                            .form
                                                input(type="text" id="speedOfPrinter" name="speed" placeholder="trang/phút")
                                        
                                        .section-4__form__table--element5
                                            .element--title Chọn trạng thái máy in
                                            .form
                                                input(type="radio" id="active" name="status")
                                                label(for="active") Đang hoạt động

                                                input(type="radio" id="inactive" name="status")
                                                label(for="inactive") Không hoạt động
                                        
                                        .section-4__form__table--element6
                                            .element--title Viết mô tả máy in
                                            .form
                                                textarea(id="desc" name="description" rows="3" cols="")

                    .section-4__button-submit
                        a(class="button-outline" href="printer.html")
                            i(class="fa-solid fa-arrow-left-long")
                            | Trở lại trang trước
                        button(type="submit" class="button button-submit")
                            i(class="fa-solid fa-plus")
                            | Thêm máy in