extends layouts/default.pug
include mixins/product-item.pug

block title 
    title Máy in

block main

    section.section0
        .container
            .section0__wrap
                .section0__content
                    img(class="section0__content--img" src="../assets/images/content-right.png" alt="rectangle3")
                    h1.section0__title
                        .section0__title-main Quản Lý Máy In
                        .section0__title-sub Công Cụ Hỗ Trợ SPSO
                    .section0__title--desc 
                        div Phần mềm tiện ích cho trường Bách Khoa
                        div.slowgan Cung cấp - Hỗ trợ - Đồng hành 
                        div.italic cùng SPSO với nhiều chức năng trong việc quản lý máy in

                .section0__image
                    img(class="section0__image-bg2" src="../assets/images/sec0bg2.svg" alt="rectangle2")
                    img(class="section0__image-bg1" src="../assets/images/sec0bg1.svg" alt="rectangle1")

                    img(class="section0__image-main" src="../assets/images/section0-main.png" alt="SPSO")


    a(href="printer.html" class="button") Trang máy in