extends layouts/default.pug
include mixins/product-item.pug

block title 
    title Trang chủ

block button
    <button id="btnLogin" class="button-login button">Đăng nhập</button>
    <button id="btnLogout" class="button-logout button" style="display: none;">Đăng xuất</button>
block button-mobile
    <button id="btnLogin_mobile" class="button-login_mobile "><i class="fa-solid fa-right-to-bracket"></i></button>
    <button id="btnLogout_mobile" class="button-logout_mobile "><i class="fa-solid fa-right-from-bracket"></i></i></button>

block main

    section.section0
        .container
            .section0__wrap
                .section0__content
                    img(class="section0__content--img" src="../assets/images/content-right.png" alt="rectangle3")
                    h1.section0__title
                        .section0__title-main Quản Lý Máy In
                        .section0__title-sub Công Cụ Hỗ Trợ SPSO
                    .section0__title--desc 
                        div Phần mềm tiện ích cho trường Bách Khoa
                        div.slowgan Cung cấp - Hỗ trợ - Đồng hành 
                        div.italic cùng SPSO với nhiều chức năng trong việc quản lý máy in

                .section0__image
                    img(class="section0__image-bg2" src="../assets/images/sec0bg2.svg" alt="rectangle2")
                    img(class="section0__image-bg1" src="../assets/images/sec0bg1.svg" alt="rectangle1")

                    img(class="section0__image-main" src="../assets/images/section0-main.png" alt="SPSO")
    
    section.section01 
        .container
            .section01__wrap 
                .section01__content
                    .section01__content--main BKPrint
                    .section01__content--desc Hệ thống quản lý máy in
                .section01__list 
                    .section01__list--element
                        .section01__list--element-num 1
                        .section01__list--element-content 
                            .section01__list--element-content--main.main1 Cung cấp
                            .section01__list--element-content--desc Cung cấp cho SPSO một giao diện thân thiện, dễ sử dụng
                    .section01__list--element
                        .section01__list--element-num 2
                        .section01__list--element-content 
                            .section01__list--element-content--main.main2 Hỗ trợ
                            .section01__list--element-content--desc Hỗ trợ SPSO toàn tâm khi có góp ý trong việc cải tiến hệ thống
                    .section01__list--element
                        .section01__list--element-num 3
                        .section01__list--element-content 
                            .section01__list--element-content--main.main3 Đồng hành
                            .section01__list--element-content--desc Đồng hành cùng SPSO với những chức năng trong việc quản lý máy in


    section.section02 
        //- .container
        //-     a(href = "printer.html" target = "_self")
        //-         .section02__image
        //-             img(src = "../assets/images/LogoPrinter.png" alt="printer")
        //-         .section02__content 
        //-             | Đi đến trang Quản lý máy in
        //-             i(class=" fa-solid fa-arrow-right")
    //- a(href="printer.html" class="button") Trang máy in