extends layouts/default.pug
include mixins/product-item.pug

block title 
    title Máy in

block main

    .alert-list
    
    //- Breadcrumb
    .breadcrumb
        .container
            nav.breadcrumb__wrap
                ul
                    li 
                        a(href="index.html") Trang chủ
                    li 
                        a(href="printer.html" class = "last") Máy in
    //- End Breadcrumb

    //- Section-1
    section.section-1 
        .container 
            .section-1__wrap 
                .section-1__left
                    .box-filter 
                        .box-filter__title
                            i(class="fa-solid fa-filter")
                            .box-filter__title__inner Bộ lọc
                        .box-filter__group 
                            .box-filter__group-label Trạng thái
                            .box-filter__group-list 
                                .box-filter__group-item 
                                    input(type="checkbox" id="" aria-label="active")
                                    label(for="") Đang hoạt động
                                .box-filter__group-item 
                                    input(type="checkbox" id="" aria-label="passive")
                                    label(for="") Không hoạt động
                                .box-filter__group-item 
                                    input(type="checkbox" id="" aria-label="maintenance")
                                    label(for="") Đang bảo trì
                                .box-filter__group-item 
                                    input(type="checkbox" id="" aria-label="erroring")
                                    label(for="") Đang bị lỗi
                
                    .section-1__add
                        //- button(class="button button--add") 
                        a(href="add-printer.html" class="button") Thêm máy in
                .section-1__right
                    //- -
                    //-     var printers = [
                    //-         {
                    //-             image: 'assets/images/B4-304.webp',
                    //-             title: 'B4-304 . HP LaserJet M211d',
                    //-             function: 'In Laser',
                    //-             ability: 'In 2 mặt tự động, trắng đen',
                    //-             status: 'Đang hoạt động'
                    //-         },
                    //-         {
                    //-             image: 'assets/images/A4-201.jpg',
                    //-             title: 'A4-201 . Brother DCP-B7620DW',
                    //-             function: 'In Laser',
                    //-             ability: 'Copy, Scan(Màu), In 2 mặt tự động, trắng đen',
                    //-             status: 'Đang hoạt động'
                    //-         },
                    //-         {
                    //-             image: 'assets/images/B6-201.jpg',
                    //-             title: 'B6-201 . HP Smart Tank 180',
                    //-             function: 'In phun màu',
                    //-             ability: 'Copy, Scan(màu), In 1 mặt, in màu',
                    //-             status: 'Đang hoạt động'
                    //-         },
                    //-         {
                    //-             image: 'assets/images/B2-402.jpg',
                    //-             title: 'B2-402 . Canon LBP6030',
                    //-             function: 'In Laser',
                    //-             ability: 'In 1 mặt, trắng đen',
                    //-             status: 'Đang hoạt động'
                    //-         },
                    //-         {
                    //-             image: 'assets/images/B1-208.jpg',
                    //-             title: 'B1-208 . Brother HL-L2366DW',
                    //-             function: 'In Laser',
                    //-             ability: 'In 2 mặt tự động, trắng đen',
                    //-             status: 'Đang hoạt động'
                    //-         },
                    //-         {
                    //-             image: 'assets/images/A4-201.jpg',
                    //-             title: 'A4-201 . Brother DCP-B7620DW',
                    //-             function: 'In Laser',
                    //-             ability: 'Copy, Scan(Màu), In 2 mặt tự động, trắng đen',
                    //-             status: 'Đang hoạt động'
                    //-         },
                    //-         {
                    //-             image: 'assets/images/B6-201.jpg',
                    //-             title: 'B6-201 . HP Smart Tank 180',
                    //-             function: 'In phun màu',
                    //-             ability: 'Copy, Scan(màu), In 1 mặt, in màu',
                    //-             status: 'Đang hoạt động'
                    //-         },
                    //-         {
                    //-             image: 'assets/images/B2-402.jpg',
                    //-             title: 'B2-402 . Canon LBP6030',
                    //-             function: 'In Laser',
                    //-             ability: 'In 1 mặt, trắng đen',
                    //-             status: 'Đang hoạt động'
                    //-         },
                    //-         {
                    //-             image: 'assets/images/B1-208.jpg',
                    //-             title: 'B1-208 . Brother HL-L2366DW',
                    //-             function: 'In Laser',
                    //-             ability: 'In 2 mặt tự động, trắng đen',
                    //-             status: 'Đang hoạt động'
                    //-         },
                    //-         {
                    //-             image: 'assets/images/A4-201.jpg',
                    //-             title: 'A4-201 . Brother DCP-B7620DW',
                    //-             function: 'In Laser',
                    //-             ability: 'Copy, Scan(Màu), In 2 mặt tự động, trắng đen',
                    //-             status: 'Đang hoạt động'
                    //-         },
                    //-         {
                    //-             image: 'assets/images/B6-201.jpg',
                    //-             title: 'B6-201 . HP Smart Tank 180',
                    //-             function: 'In phun màu',
                    //-             ability: 'Copy, Scan(màu), In 1 mặt, in màu',
                    //-             status: 'Đang hoạt động'
                    //-         },
                    //-         {
                    //-             image: 'assets/images/B2-402.jpg',
                    //-             title: 'B2-402 . Canon LBP6030',
                    //-             function: 'In Laser',
                    //-             ability: 'In 1 mặt, trắng đen',
                    //-             status: 'Đang hoạt động'
                    //-         }
                    //-     ];

                    
                    .section-1__head
                        h2.section-1__title Máy in
                        .box-filter__title
                            i(class="fa-solid fa-filter")
                            .box-filter__title__inner Bộ lọc

                    div(class="section-1__list" id="product-list")
                        //- each printer in printers
                        //-     +product-item(printer)

            .section-1__button-bottom
                a(href="add-printer.html" class="button") Thêm máy in

    //- End Section-1

    script(src="https://unpkg.com/axios/dist/axios.min.js")
    //- script(src="../assets/script/product-detail.js")
    script(src = "../assets/script/printer.js")