extends layouts/default.pug
include mixins/product-item.pug

block title 
    title Máy in

block search
    //- Form search
    button(aria-label="x" class="header__search-mobile" button-SerFil="1")
        i(class="fa-solid fa-magnifying-glass")

    form(action="#" class="header__form")
        input(name="keyword" placeholder="Tìm máy in")
        button(aria-label="x")
            i(class="fa-solid fa-magnifying-glass")

block main

    .alert-list
    
    //- Breadcrumb
    .breadcrumb
        .container
            nav.breadcrumb__wrap
                ul
                    li 
                        a(href="index.html") Trang chủ
                    li 
                        a(href="printer.html" class = "last") Quản lý máy in
    //- End Breadcrumb

    //- Section-1
    section.section-1 
        .container 
            .section-1__wrap 
                .section-1__left
                    div(class="box-filter" id="status-filter") 
                        .box-filter__title
                            i(class="fa-solid fa-filter")
                            .box-filter__title__inner Bộ lọc
                        .box-filter__group 
                            .box-filter__group-label Trạng thái
                            .box-filter__group-list 
                                .box-filter__group-item 
                                    input(type="checkbox" id="active" value="Đang hoạt động" aria-label="active")
                                    label(for="active") Đang hoạt động
                                .box-filter__group-item 
                                    input(type="checkbox" id="inactive" value="Không hoạt động" aria-label="passive")
                                    label(for="inactive") Không hoạt động
                                .box-filter__group-item 
                                    input(type="checkbox" id="maintance" value="Đang bảo trì" aria-label="maintenance")
                                    label(for="maintance") Đang bảo trì
                                .box-filter__group-item 
                                    input(type="checkbox" id="erroring" value="Đang bị lỗi" aria-label="erroring")
                                    label(for="erroring") Đang bị lỗi
                
                    .section-1__add
                        a(href="add-printer.html" class="button") Thêm máy in
                
                .section-1__right
                    
                    .section-1__head
                        h2.section-1__title Máy in
                        button(button-SerFil="2" class="box-filter__title")
                            i(class="fa-solid fa-filter")
                            .box-filter__title__inner Bộ lọc

                    div(class="section-1__list" id="product-list")
                        //- each printer in printers
                        //-     +product-item(printer)

            .section-1__button-bottom
                a(href="add-printer.html" class="button") Thêm máy in

    //- End Section-1

    script(src="https://unpkg.com/axios/dist/axios.min.js")
    //- script(src="../assets/script/product-detail.js")
    script(src = "../assets/script/printer.js")
    script(src = "../assets/script/buttonSearch-mobile.js")