@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "variable";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: $font;
    /* chiều cao của line, để khoảng từ 1.4, 1.5, 1.6 là đẹp; không cần fix cứng theo figma */
    line-height: 1.4;
}

a {
    text-decoration: none;
}

.container {
    width: 1180px;
    /* Tìm khối có kích thước ful từ trái qua phải container để tìm width*/
    margin: 0 auto;

    @media (max-width: 1199.98px) {
        width: 960px;
    }
    
    @media (max-width: 991.98px) {
        width: 720px;
    }
    
    @media (max-width: 767.98px) {
        width: 540px;
    }
    
    @media (max-width: 575.98px) {
        /* do la man hinh dien thoai nen co chieu rong full 100% */
        width: 100%;
        padding-left: 16px;
        padding-right: 16px;
    }
}


// Button
.button {
    /* thẻ a, là inline, không thêm được chiều cao nên cố tình thêm height cũng ko được -> inline-block*/
    /* để chữ canh ra chính giữa -> inline-flex + align-items: center */
    display: inline-flex;
    align-items: center;

    height: 44px;
    /* width: auto; */
    padding: 0 28px;
    font-size: 16px;
    font-weight: 700;
    color: #FDFDFD;
    background-color: $color-main;
    border-radius: 57px;
    border: 0;

    transition: all 0.3s;

}

.button:hover {
    background-color: #00A7E7;
}

.button-outline {
    display: inline-flex;
    align-items: center;

    color: $color-main;
    height: 44px;
    /* width: auto; */
    padding: 0 28px;
    font-size: 16px;
    font-weight: 500;
    background-color: transparent;
    border-radius: 57px;
    border: 2px solid $color-main;

    transition: all 0.3s;

    i {
        font-size: 18px;
        color: $color-main;
        margin-left: 11px;
    }

    &--icon-left {
        margin-left: 0;
        margin-right: 10px;
    }
}

.button-outline:hover {
    background-color: #def0f8;
}
// End Button

// Header
.header {
    padding: 28px 0;

    &__wrap {
        /* cùng hàng, w=100% phần tử cha */
        display: flex;
        /* canh giữa trục phụ */
        align-items: center;
        /* do ở dưới menu đã để flex 1 để các phần tử dàn đều ra giữa r nên không cần space-between ở đây */
        /* justify-content: space-between; */
        /* lúc co màn hình lại thì cách nhau ít nhất là 14px */
        gap: 14px;
        position: relative;
        // z-index: 10;
    }

    &__logo img {
        width: auto;
        height: 40px;
        /* không nên fix cứng w và h theo figma, nên để h fix cứng theo figma và w auto */
    }

    &__menu {
        /* thường  linh hoạt nên để flex 1 để chiếm giao diện còn lại, các khối kia thì canh gap theo figma */
        flex: 1;
        /* canh giữa các phần tử ul trong phần chiều rộng đã chiếm do flex 1 */
        text-align: center;
    
        position: relative;

        ul {
            /* để các phần tử cùng hàng thì phải css từ thẻ cha là ul, ul có margin và padding mặc định nên phải reset về 0 */
            display: inline-flex;
            margin: 0;
            padding: 0;
            /* bỏ dấu chấm tròn */
            list-style: none;
            gap: 48px;

            a {
                font-weight: 700;
                font-size: 16px;
                color: $color-main;
            }
        }
    }

    &__form {
        background-color: #F3F3F3;
        /* block search fix cứng w và h */
        height: 44px;
        width: 280px;
        border-radius: 46px;
        padding: 0 16px;
        display: inline-flex;
        gap: 12px;

        button {
            font-size: 16.68px;
            color: $color-light-text;
            background-color: transparent;
            /* button có padding mặc định nên phải reset về 0 */
            padding: 0;
            border: 0;
            order: 0;
        }

        input {
            border: 0;
            /* mất đường viền khi click vào */
            outline: 0; 
            color: #99A2A5;
            height: 100%;
            /* màu trong suốt */
            background-color: transparent; 
            padding:0 16px;
            order: 1;
            /* cho phép phần tử tự động điều chỉnh kích thước để vừa với không gian có sẵn trong block */
            flex: 1;
        }
    }

    &__search-mobile {
        display: none;
    }

    &__menu-mobile {
        display: none;
    }

    @media (max-width: 1199.98px) {
        .button {
            /* An nut nhung khong chiem dien tich giao dien */
            display: none;
        }
    }
    
    @media (max-width: 991.98px) {
        &__search-mobile {
            /* hien thi cai button search len man hinh */
            display: inline-block;
    
            font-size: 23px;
            color: $color-dark-text;
            border: 0;
            background-color: transparent;
            /* dua chuot vao hien thi ban tay */
            cursor: pointer;
        }
    
        &__form {
            display: none;
        }
    } 
    
    @media (max-width: 767.98px) {
        padding: 12.5px 0;
    
        &__wrap {
            justify-content: space-between;
        }
    
        &__menu-mobile {
            display: inline-block;
    
            font-size: 23px;
            color: $color-dark-text;
            border: 0;
            background-color: transparent;
            /* dua chuot vao hien thi ban tay */
            cursor: pointer;
        }
    
        &__menu {
            display: none;
        }
    
        &__inner-logo img {
            height: 32px;
        }
    }
}
// End Header

// Breadcrumb
.breadcrumb {
    margin-bottom: 0;
    background: #aed8e62d;

    ul {
        list-style: none;
        padding: 8px 0 8px 8px;
        margin: 0;
        display: flex;
        gap: 10px 36px;
        flex-wrap: wrap;

        li {
            position: relative;
            
            &::after {
                content: "\f105";
                line-height: 1;
                font-weight: 900;
                font-family: "Font Awesome 6 Free";
                font-size: 12px;
                color: $color-light-text;
                position: absolute;
                top: 5px;
                right: -22px;
            }

            &:last-child::after {
                display: none;
            }

            a {
                font-weight: 500;
                font-size: 14px;
                color: $color-light-text;
            }
        }

        .contact {
            color: $color-main;
            font-weight: 700;
        }
    }
}
// End Breadcrumb


//--------------------------------------------------INDEX--------------------------------------------------

// Section-5
.section-5 {
    padding: 60px 0;

    &__head {
        .box-filter__title {
            display: none;
        }
    }

    &__wrap {
        display: flex;
        gap: 20px;
    }

    &__left {
        width: calc(25% - 10px);
    }

    &__right {
        width: calc(75% - 10px);
    }

    &__title {
        margin-top: 0;
        margin-bottom: 14px;
        font-weight: 700;
        font-size: 24px;
        color: $color-main;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        .product-item {
            width: calc((100% - 40px) / 3);
        }
    }

    &__button-bottom {
        display: none;
    }

    @media (max-width: 991.98px) {
        &__list {
            .product-item {
                width: calc((100% - 20px) / 2);
            }
        }
    }

    @media (max-width: 767.98px) {
        &__left {
            display: none;
        }

        &__right {
            width: 100%;
        }

        &__head {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .box-filter__title {
                display: inline-flex;
                font-size: 16px;
            }
        }

        &__list {
            gap: 12px;
        }

        &__button-bottom {
            display: block;
            margin-top: 16px;
            // justify-content: center;
            // align-items: center;

            button {
                display: flex;
                width: 100%;
                justify-content: center;
            }
        }
    }

    @media (max-width: 575.98px) {
        padding: 32px 0 40px 0;
    }
}
// End Section-5

// box-filter
.box-filter {
    &__title {
        font-weight: 700;
        font-size: 20px;
        color: $color-main;
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        gap: 7px;

        img {
            width: 20px;
            height: auto;
            margin-right: 13px;
        }
    }

    &__group {
        padding-bottom: 16px;
        border-bottom: 1px solid #EBEEFF;
        margin-bottom: 16px;
    }

    &__group-label {
        font-size: 16px;
        font-weight: 700;
        color: $color-dark-text;
        margin-bottom: 10px;
    }

    &__group-list {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__group-item {
        display: flex;
        align-items: center;

        input {
            width: 16px;
            height: 16px;
            margin-right: 10px;
        }

        label {
            margin-bottom: 0;
            font-weight: 500;
            font-size: 14px;
            color: $color-dark-text;
        }
    }
}
// End box-filter

// Pagination
.pagination {
    margin-top: 20px;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 12px;
    }

    &__item {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 34px;
        height: 34px;
        // background-color: #DDD;
        border-radius: 8px;
        font-size: 18px;
        font-weight: 700;
        color: $color-main;

        &--active, &:hover {
            background-color: $color-main;
            color: white;
        }
    }   
}
// End Pagination

//--------------------------------------------------END - INDEX--------------------------------------------------


//--------------------------------------------------PRODUCT-DETAIL--------------------------------------------------

// Section-2
.section-2 {
    background-color: #FDFDFD;
    padding: 60px 0;

    &__wrap {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        .product-item {
            width: calc((100% - 60px) / 4);
        }
    }
    
    &__button-bottom {
        display: none;
    }
    
    @media(max-width: 991.98px) {
        &__wrap .product-item {
            width: calc((100% - 40px) / 3);
        }
    }
     
    @media(max-width: 767.98px) {
        &__wrap {
            gap: 12px;

            .product-item {
                width: calc((100% - 12px) / 2);
            }
        }
    
        &__button-bottom {
            display: block;
            margin-top: 16px;

            .button-outline {
                display: flex;
                justify-content: center;
            }
        }
    } 
    
    @media (max-width: 575.98px) {
        padding-top: 40px 0;
    }
}
// End Section-2

// box-head
.box-head {
    /* margin-top: 60px; */
    margin-bottom: 28px;
    height: 62px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__left {
        width: 370px;
        display: block;
        flex-wrap: wrap;
        align-items: center;
        margin: 0;
        padding: 0;
    
        gap: 2px;

        p {
            font-weight: 500;
            font-size: 16px;
            margin: 0;
            padding: 0;
            color: #000;
        }

        h3 {
            font-weight: 700;
            font-size: 24px;
            text-transform: capitalize;
            margin: 0;
            padding: 0;
            color: #003459;
        }
    }

    .button-outline {
        width: 154px;
        height: 44px;
        font-size: 14px;
        font-weight: 500;

        i {
            margin-left: 8px;
            width: 20px;
            height: 20px;
            font-size: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    @media (max-width: 767.98px) {
        &__title-sub {
            font-size: 14px;
        }
    
        &__title {
            font-size: 20px;
        }
    
        &__right {
            display: none;
        }
    }
}
// End box-head

// Section-6
.section-6 {
    &__wrap {
         display: flex;
         padding: 20px 22px;
         border: 1px solid #EBEEFF;
         border-radius: 20px;
         gap: 30px;
    } 
 
    &__image {
         width: calc(50% - 15px);
    }
 
    &__image-main {
         width: 100%;
         aspect-ratio: 1/1;
         border-radius: 10px;
         overflow: hidden;
         margin-bottom: 12px;
 
         img {
             width: 100%;
             height: 100%;
             object-fit: cover;
         }
    }
 
    &__image-thumb {
         display: flex;
         gap: 12px;
 
         img {
             width: calc((100% - 48px) / 5);
             aspect-ratio: 1/1;
             object-fit: cover;
             border-radius: 6px;
             display: block;
         }
    }
 
    &__content {
         width: calc(50% - 15px);
    }
 
    &__title {
         margin-top: 18px;
         margin-bottom: 6px;
         font-size: 24px;
         font-weight: 700;
         color: $color-dark-text;
    }
 
    &__price {
         margin-bottom: 18px;
         font-weight: 700;
         font-size: 20px;
         color: $color-main;
    }
 
    &__buttons {
         display: flex;
         flex-wrap: wrap;
         gap: 18px;
    }
 
    &__table {
         margin-top: 18px;
         margin-bottom: 18px;
 
         td {
            border-bottom: 1px solid #EBEEFF;
            padding: 11px;
            font-weight: 500;
            font-size: 14px;
            color: $color-light-text;

            &.status--active {
                color: #52CE22;
                font-weight: 700;
            }
         }
    }
 
    @media (max-width: 991.98px) {
         &__wrap {
             flex-wrap: wrap;
         }
 
         &__image {
             width: 100%;
         }
 
         &__content {
             width: 100%;
         }
    } 
 
    @media (max-width: 575.98px) {
         .container {
             padding: 0;
         }
 
         &__wrap {
             padding: 0;
             border: 0;
             gap: 22px;
         }
 
         &__content {
             box-shadow: 0px -6px 6px 0px #0000000F;
             padding: 32px 16px 20px 16px;
             border-radius: 20px;
         }
 
         &__title {
             margin-top: 15px;
             margin-bottom: 2px;
         }
 
         &__price {
             margin-bottom: 16px;
         }
    }
 }
 // End Section-6

 // modal
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__main {
        width: 40%;
        padding: 25px;
        border-radius: 8px;
        background-color: #fff;
        z-index: 999;
        position: relative;
    }

    &__close {
        position: absolute;
        top: -10px;
        right: -10px;
        width: 32px;
        height: 32px;
        background-color: red;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: 0;
        color: #fff;
        cursor: pointer;
    }

    &__overlay {
        background-color: #00000065;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;

        cursor: pointer;
    }
 }
 // End modal

//--------------------------------------------------END - PRODUCT-DETAIL--------------------------------------------------


//--------------------------------------------------PRODUCT-ITEM--------------------------------------------------
.product-item {
    box-shadow: 0px 4px 28px -2px #00000014;
    background-color: #FDFDFD;
    padding: 8px 8px 0 8px;
    border-radius: 12px;
    position: relative;

    &__image {
        border-radius: 10px;
        overflow: hidden;
        display: block;
        margin-bottom: 8px;

        img {
            width: 100%;
            aspect-ratio: 1/1;
            object-fit: 0;
        }
    }
    
    &__content {
        padding: 8px 8px 20px 8px;

        h3 {
            color: $color-main;
        }
    }
    
    &__title {
        margin-top: 0;
        font-weight: 700;
        font-size: 16px;
        margin-bottom: 4px;

        a {
            color: $color-dark-text;
        }
    }
    
    &__info {
        display: flex;
        flex-wrap: wrap;
        
        /* them 4px top-bottom de responsive */
        gap: 4px 26px;
        margin-bottom: 4px;
    }
    
    &__info-item {
        color: $color-light-text;
        font-weight: 500;
        font-size: 12px;
        // margin-bottom: 8px;

        b {
            font-weight: 700;
        }

        // &::after {
        //     content: ".";
        //     width: 3px;
        //     height: 3px;
        //     font-size: 20px;
        //     /* de them w h -> inline-block */
        //     display: inline-block;
        //     color: $color-light-text;
        //     border-radius: 50%;
        //     position: absolute;
        //     top: -12px;
        //     right: -15px;
        // }

        &:last-child {
            margin-bottom: 8px;
        }

        // &:last-child::after {
        //     display: none;
        // }
    }
    
    .status--active {
        font-size: 14px;
        font-weight: 700;
        color: #52CE22;

        position: absolute;
        bottom: 8px;
    }
    
    @media (max-width: 575.98px) {
        &__title {
            font-size: 14px;
        }
    
        &__info-item::after {
            display: none;
        }
    }
}
//--------------------------------------------------END - PRODUCT-ITEM--------------------------------------------------


//--------------------------------------------------INTRODUCE--------------------------------------------------
.introduce {
    background-color: #FDFDFD;
    padding: 80px 0;
    font-family: "Be Vietnam Pro", sans-serif;

    &__content {
        text-align: center;
        margin: 0;
        padding-bottom: 120px;
        font-size: 48px;
        font-weight: 700;
        color: $color-main
    }

    &__list {
        display: flex;
        gap: 30px;
    }

    &__element {
        box-shadow: 0px 4px 28px -2px #00000014;
        width: calc((100% - 60px)/3);
        height: auto;
        border: 0;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
    }

    &__inner {
        width: 180px;
        height: 200px;

        img {
            object-fit: cover;
            width: 100%; 
            aspect-ratio: 1/1;
            border-radius: 50%;
            margin-top: -75px;
            border: 5px solid #E6E3F1;
            object-position: top;
        }

        &--nameAuthor {
            font-size: 25px;
            font-weight: 700;
            text-align: center;
            margin: 0;
            margin-bottom: 10px;
        }

        &--education {
            font-size: 15px;
            font-weight: 400;
            text-align: center;
            margin: 0;
            color: #2F57EF;
            margin-bottom: 10px;
        }
    }

    &__position {
        font-size: 15px;
        font-weight: 400;
        margin: 0;
        color: $color-main;
        font-style: italic;
        margin-bottom: 10px;

        i {
            font-size: 15px;
            margin: 0 5px 0 0;
        }
    }

    &__desc {
        text-align: center;
        font-size: 15px;
        font-weight: 400;
        margin: 0;
        color: #6B7385;
        margin-bottom: 20px;

        p {
            margin: 0 8px;
        }
    }

    &__info {
        width: 80px;
        display: inline-flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 20px;

        i {
            font-size: 20px;
            color: #6B7385;
        }

        i:hover {
            color: #2F57EF;
        }
    }

    @media(max-width: 991.98px) {

        &__list {
            // flex-wrap: wrap;
            width: 100%;

            display: grid;
            grid-template-columns: calc((100% - 30px)/2) calc((100% - 30px)/2);
            grid-template-rows: auto auto;
            gap: 120px 30px;
            align-items: center;
        }

        &__element {
            width: 75%;
            height: auto;
            margin: auto;
        }

        &__inner {
            width: 80%;
            height: auto;
        }
    }

    @media(max-width: 767.98px) {

        &__content {
            font-size: 42px;
        }

        &__list {
            display: grid;
            grid-template-columns: calc((100% - 0px)/2) calc((100% - 0px)/2);
            grid-template-rows: auto auto;
            gap: 90px 0px;
        }

        &__inner {
    
            &--nameAuthor {
                font-size: 20px;
                font-weight: 600;
            }
    
            &--education {
                font-size: 12px;
                font-weight: 350;
            }
        }

        &__position {
            font-size: 13px;
            font-weight: 400;
        }
    
        &__desc {
            font-size: 12px;
            font-weight: 300;
        }
    
        &__info {
    
            i {
                font-size: 16px;
            }
        }
    }

    @media (max-width: 575.98px) {

        &__content {
            font-size: 36px;
        }
    }
}
//--------------------------------------------------INTRODUCE--------------------------------------------------


//--------------------------------------------------CONTACT--------------------------------------------------
// Form - Contact
.form {
    &__wrap {
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__content {
        margin-bottom: 30px;
        font-size: 32px;
        font-weight: 700;
        color: $color-main;
        width: 100%;
        text-align: center;
    }

    &__table {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &--element {
            width: 80%;
            text-align: center;
            padding-bottom: 20px;

            form {
                .control {
                    width: 50%;
                    height: 50px;
                    padding: 8px;
                }
            }

            &:nth-child(0n + 4) {
                form .control {
                    height: 100px;
                }
            }
        }
    }

    @media(max-width: 991.98px) {
        &__table--element {
            width: 100%;
        }
    }

    @media(max-width: 767.98px) {
        &__table--element {
            width: 120%;
        }
    }

    @media (max-width: 575.98px) {

        &__content {
            font-size: 28px;
        }
    }
}
// End Form - Contact

// Maps - Contact
.maps {
    margin-bottom: 40px;

    &__content {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 32px;
        font-weight: 700;
        color: $color-main;
        width: 100%;
        text-align: center;
    }

    &__wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    &__info {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 20px;
        gap: 30px;
        color: $color-dark-text;

        &--detail {
            i {
                margin-right: 5px;
            }
        }
    }

    &__base {
        text-align: center;

        &--title {
            margin-bottom: 20px;
            font-size: 24px;
            font-weight: 550;
            color: $color-main;
            width: 100%;
            text-align: center;
        }
    }

    @media(max-width: 991.98px) {
        &__base--destination {
            iframe {
                width: 75%;
            }
        }
    }

    @media(max-width: 767.98px) {
        &__info {
            margin-bottom: 30px;
            gap: 5px 50px;
        }
    }

    @media (max-width: 575.98px) {

        &__content {
            font-size: 24px;
        }

        
        &__base--title {
            font-size: 18px;
        }

        &__info {
            margin-bottom: 30px;
            gap: 3px 60px;
            font-size: 14px;
        }
    }
}

.maps .container {
    border-top: 1px solid $color-light-text;
}
// End Maps - Contact
//--------------------------------------------------CONTACT--------------------------------------------------

// Footer
.footer {
    background: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);    border-radius: 40px 40px 0 0;
    padding: 80px 0 40px 0;

    &__top {
        background-color: white;
        padding: 32px;
        border-radius: 16px;
    
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__logo {
            width: 50%;
            display: flex;
            justify-content: center;
            gap: 10px;

            img {
                width: auto;
                height: 60px;
                display: block;
            }

            &__text {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                &-des {
                    font-size: 14px;
                    font-weight: 520;
                    color: $color-dark-text;
                }
    
                &-name {
                    font-size: 20px;
                    font-weight: 700;
                    color: $color-dark-text;
                }
            }
        }

        &__desc {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;

            ul {
                list-style: none;
                padding: 0;

                li a {
                    font-size: 16px;
                    color: #697679;
                }

                li a i {
                    padding-right: 8px;
                }
            }
        }
    }
    
    &__middle {
        padding: 40px 0;
        border-bottom: 1px solid #94A6AA;
    
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    &__middle-links {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        
            display: flex;
            gap: 10px 60px;

            li a {
                font-weight: 600;
                font-size: 16px;
                color: $color-dark-text;

                &:hover {
                    color: #00A7E7;
                }
            }
        }
    }
    
    &__socials {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        
            display: flex;
            gap: 10px 40px;

            li a {
                font-size: 24px;
                color: $color-dark-text;

                &:hover {
                    color: #00A7E7;
                }
            }
        }
    }
    
    &__bottom {
        padding-top: 40px;
    
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    &__copyright {
        font-weight: 500;
        font-size: 14px;
        color: $color-light-text;
    
        width: 40%;
    }
    
    &__logo {
        width: 20%;
        text-align: center;

        img {
            width: 115px;
            height: auto;
        }
    }
    
    &__bottom-links {
        width: 40%;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 32px;

            li a {
                font-weight: 500;
                font-size: 14px;
                color: $color-light-text;
            }
        }
    }
    
    @media (max-width: 991.98px) {
        &__top { 
            flex-wrap: wrap;

            &__logo {
                width: 100%;
            }

            &__desc {
                width: 100%;
            }
        }
    
        &__bottom {
            flex-wrap: wrap;
            padding-top: 36px;
        }
    
        &__copyright {
            width: 100%;
            order: 2;
            font-size: 10px;
            text-align: center;
        }
    
        &__logo {
            width: 100%;
            order: 0;
            margin-bottom: 32px;
        }
    
        &__bottom-links {
            width: 100%;
            order: 1;
            margin-bottom: 12px;

            ul {
                justify-content: center;

                li a {
                    font-size: 12px;
                }
            }
        }
    }
    
    @media (max-width: 767.98px) {
        &__middle {
            flex-wrap: wrap;
        }
    
        &__middle-links {
            width: 100%;
            margin-bottom: 20px;

            ul {
                justify-content: center;
            }
        }
    
        &__socials {
            width: 100%;

            ul {
                justify-content: center;
            }
        }
    }
    
    @media (max-width: 575.98px) {
        border-radius: 20px 20px 0 0;
        padding: 40px 0 16px 0;
    
        &__top {
            padding: 18px;

            &__logo__text {
                &-des {
                    font-size: 14px;
                }

                &-name {
                    font-size: 18px;
                }
            }

            &__desc {
                ul li a {
                    font-size: 13px;
                }

                ul li {
                    padding: 0 30px;
                }
            }
        }
        
        &__form {
            flex-wrap: wrap;

            input {
                width: 100%;
                /* de ko chiem phan vi tri con lai */
                flex: none;
            }

            button {
                width: 100%;
            }
        }
    
        &__middle-links{
            ul {
                flex-wrap: wrap;
                gap: 10px 40px;

                li a {
                    font-size: 13px;
                }
            }
        }
    
        &__socials ul li a {
            font-size: 20px;
        }

        &__logo {
            margin-bottom: 20px;
        }
    }
}
// End Footer